<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.aswinvenkat.miniprj" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <activity
        android:name="com.ipaulpro.afilechooser.FileChooserActivity"
        android:enabled="@bool/use_activity"
        android:exported="true"
        android:icon="@drawable/ic_chooser"
        android:label="@string/choose_file" >
        <intent-filter>
            <action android:name="android.intent.action.GET_CONTENT" />

            <category android:name="android.intent.category.DEFAULT" />
            <category android:name="android.intent.category.OPENABLE" />

            <data android:mimeType="*/*" />
        </intent-filter>
    </activity>

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".HomeScreen"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="HomeScreen" />
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SingleViewActivity"
            android:label="SingleViewActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeScreen" />
        </activity>
        <activity
            android:name=".Circular"
            android:label="Circular" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeScreen" />
        </activity>
        <activity
            android:name=".DocumentUpload"
            android:label="@string/title_activity_document_upload" />
        <activity
            android:name=".SQLite"
            android:label="@string/title_activity_sqlite" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeScreen" />
        </activity>
        <activity
            android:name=".FileChooserExampleActivity"
            android:label="FileChooserExampleActivity" />
        <activity
            android:name=".StaticFileUpload"
            android:label="@string/title_activity_static_file_upload" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeScreen" />
        </activity>
        <activity
            android:name=".RView"
            android:label="RView" >
        </activity>
        <activity android:name=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeScreen" />
        </activity>
        <activity android:name=".SignUPActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".NewActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".AboutDev" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeScreen" />
        </activity>
        <activity android:name=".TabLayout">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeScreen"/>
        </activity>
        <activity
            android:name=".Help"
            android:label="@string/title_activity_help" >
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeScreen"/>
        </activity>
    </application>

</manifest>
